# Supported application PHP versions: 7.4 through 8.4
PHP_VERSION=8.2
DOCKER_PLATFORM=linux/amd64
APP_PORT=80
PHPMYADMIN_PORT=8081

MARIADB_VERSION=12.3.3
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root_password
MARIADB_DATABASE=my_database
MARIADB_USER=user
MARIADB_PASSWORD=user_password

CI_ENV=development
APP_BASE_URL=http://localhost/MyApp/
APP_CDN_URL=http://localhost/MyApp/theme/
APP_TIMEZONE=Asia/Tehran
