# Supported application PHP versions: 7.4 through 8.4
PHP_VERSION=8.2
DOCKER_PLATFORM=linux/amd64
APP_PORT=80
PHPMYADMIN_PORT=8081
APP_PROFILING=1
APP_SLOW_REQUEST_MS=500

DB_SERVER_VERSION=12.3.3
DB_PUBLISHED_PORT=3306
DB_HOST=db
DB_PORT=3306
DB_ROOT_PASSWORD=root_password
DB_DATABASE=my_database
DB_USERNAME=user
DB_PASSWORD=user_password
DB_DRIVER=mysqli
