[mysqld]
max_allowed_packet=1G
innodb_buffer_pool_size=512M
max_connections=100
performance_schema=ON
slow_query_log=ON
log_output=TABLE
long_query_time=0.2
min_examined_row_limit=1
ignore_db_dirs=.cache
